@model SemesterTwo.Models.CustomerProfile
@{
    ViewData["Title"] = "Home";
}

<style>
    img{
        max-width:500px;
       }
</style>
<h1>WELCOME TO ABC RETAIL</h1>
<center>
<div class="image">
    <img src="~/images/j-ld-xtvjcgjo-unsplash.jpg" />
    </div>
</center>
<br />
<br />
<p>Welcome to the landing page of abc retail</p>





